<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="icon" href="https://tokibot.com/assets/images/icon.png">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/splash.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,900,700,400italic' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.min.js"></script>
		<script src="/assets/js/splash.js"></script>

		<title>Toki - Deep Work For Collaborative Teams</title>
		
		<!-- facebook open graph tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tokibot.com" />
		<meta property="og:title" content="Toki - Deep Work For Collaborative Teams" />
		<meta property="og:description" content="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta property="og:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />

		<!-- twitter card tags additive with the og: tags  -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:domain" value="tokibot.com" />
		<meta name="twitter:title" value="Toki - Deep Work For Collaborative Teams" />
		<meta name="twitter:description" value="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta name="twitter:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />
		<meta name="twitter:url" value="https://tokibot.com" />
		<meta name="twitter:label1" value="Share your current priority..." />
		<meta name="twitter:data1" value="Let your team know what you want to focus on, and how much time you want to spend working on it" />
		<meta name="twitter:label2" value="...and focus confidently" />
		<meta name="twitter:data2" value="Toki turns on Slack's Do Not Disturb so you're not interrupted with non-urgent messages" />

		<!-- Viewport for Mobile View -->
		<meta name="viewport" content="width=device-width, initial-scale=0.5">

	</head>

	<body>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="inner cover" style="position: relative; text-align: left; width: 900px; padding-left: 110px; padding-top: 10px;">


						<img src="/assets/images/big_logo.png" style="height: 85px; position: absolute; top: 0; left: 0;">

						<h2 class="cover-heading" style="line-height: 44px;">Woo! I'm excited to make deep work easier for you and your team.</h2>
						<p class="lead">Now that I'm authorized, go ahead and /focus again. It should work this time!</p>
						<p class="lead">For a full list of my commands, <a href="https://docs.google.com/presentation/d/1HwnDgSZRXf0rQrQEhnNgMOsqA8zchd08Q-N7DG-AgNs/edit#slide=id.p" target="_blank" id="how-does-it-work-link">check this out</a></p>

					</div>

					<div class="mastfoot">
						<div class="inner">
							<p>© 2016 Toki Inc., All Rights Reserved</p>
					</div>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>

