<!DOCTYPE html>
<html dir="ltr" lang="en-US">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="icon" href="https://tokibot.com/assets/images/icon.png">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/splash.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900italic,700italic,900,700,400italic' rel='stylesheet' type='text/css'>
		<script src="/js/jquery.min.js"></script>
		<script src="/assets/js/splash.js"></script>

		<title>Toki - Deep Work For Collaborative Teams</title>
		
		<!-- facebook open graph tags -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://tokibot.com" />
		<meta property="og:title" content="Toki - Deep Work For Collaborative Teams" />
		<meta property="og:description" content="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta property="og:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />

		<!-- twitter card tags additive with the og: tags  -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:domain" value="tokibot.com" />
		<meta name="twitter:title" value="Toki - Deep Work For Collaborative Teams" />
		<meta name="twitter:description" value="Toki is a Slack bot that superpowers your Do Not Disturb mode to help you focus at work, track your productivity, and stay in sync with your team." />
		<meta name="twitter:image" content="https://tokibot.com/assets/images/reflection_example_small.png" />
		<meta name="twitter:url" value="https://tokibot.com" />
		<meta name="twitter:label1" value="Share your current priority..." />
		<meta name="twitter:data1" value="Let your team know what you want to focus on, and how much time you want to spend working on it" />
		<meta name="twitter:label2" value="...and focus confidently" />
		<meta name="twitter:data2" value="Toki turns on Slack's Do Not Disturb so you're not interrupted with non-urgent messages" />

		<!-- Viewport for Mobile View -->
		<meta name="viewport" content="width=device-width, initial-scale=0.5">

	</head>

	<body>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="inner cover installed">


						<h2 class="cover-heading">Toki, Inc. Privacy Policy</h2>

						<p class="lead par">
							The Toki team takes your privacy and the security of your data very seriously. Communication between Toki and Slack is encrypted using SSL. We are <a href="https://github.com/kevinsuh/toki" target="_blank">open source</a> and do not intend to capitalize on your data in any capacity.
						</p>

						<h4 class="cover-heading">What We Collect</h4>
						<p class="lead par">
							Toki does not store or log any message information or other Slack activity. Toki does not access past or archived messages.
							Toki collects Slack account and access information from users for the purposes of connecting to the Slack API and to authenticate access to information on the tokibot.com website.

							Using standard web analytics and web server technologies, Toki logs your navigation actions, IP address, cookies and other information provided by your web browser.
						</p>

						<h4 class="cover-heading">How We Use Your Data</h4>
						<p class="lead par">
							We will not sell, trade, or otherwise transfer your information to outside parties without your explicit permission. Information collected by the Toki bot system will be used only in the creation of reports and responses to queries, and will not be made available to any party outside of the authorized Slack team.
							<br /><br />
							If you have questions, please email <a href="mailto:kevinsuh34@gmail.com">kevinsuh34@gmail.com</a>.
						</p>

					</div>

					<div class="mastfoot relative">
						<div class="inner">
							<p>© 2016 Toki Inc., All Rights Reserved</p>
					</div>
					</div>

				</div>

			</div>
		</div>

	</body>
</html>

