@import "modules/all";

html, body {
	height: 100%;
	margin: 0;
	font-family: $font-family-base !important;
}

.relative {
	position: relative !important;
	margin-bottom: 20px;
}

#hello-toki {
	position: absolute;
	top: 0;
	left: 0;
	height: 85px;
}

#splash-logo-combined {
	height: 55px;
	position: absolute;
	top: 30px;
	left: 15px;
}

.inner.cover {
	position: relative;

	&.installed {

		text-align: left;
		width: 900px;
		padding-left: 110px;
		padding-top: 10px;

		&.stick-left {
			padding-left: 40px;
		}

	}

}

.relative {
	position: relative !important;
	&.masthead {
		margin-bottom: 50px;
	}
}

.site-wrapper {

	.cover-container {

		h4.cover-heading {
			text-align: left;
			font-size: 25px;
			margin-bottom: 5px;
		}

		.lead {
			&.par {
				font-size: 18px;
				line-height: 25px;
				margin: 0 !important;
			}
		}

	}
}

#slack-logo-header {
  height: 28px;
  padding-bottom: 7px;
  padding-left: 5px;
}

// for mobile
@media only screen and (max-device-width: 480px) {

	.site-wrapper {

		// splash page
		.site-wrapper-inner {
			display: block;
		}

		.cover-container {

			h1.cover-heading {
				font-size: 100px;
				line-height: 110px;
				text-align: left;
			}

			h4.cover-heading {
				text-align: left;
				font-size: 60px;
				line-height: 65px;
				margin-top: 40px;
				margin-bottom: 15px;
			}

			.lead {
				font-size: 50px;
				margin-top: 85px;
				&.par {
					font-size: 30px;
				}
			}

			.header-link {
				font-size: 30px;
			}

			.masthead {
				margin-top: 25px;
				top: 20px;
				position: relative;
				margin-bottom: 85px;
			}

			.cta_container {
				margin-top: 60px;
				margin-bottom: 45px;
			}

			.inner {
				&.installed {
					width: 750px;
					padding: 0 20px;
					margin: auto;
				}
			}

			.lead {
				&.par {
					font-size: 30px;
					line-height: 45px;
				}
			}

		}

	}

	#splash-logo-combined {
		height: 85px;
		top: 14px;
	}

	#slack-logo-splash {
		height: 100px;
		padding-bottom: 18px;
	}

	#slack-logo-header {
		height: 45px;
		padding-bottom: 9px;
		padding-left: 5px;
	}

	#how-does-it-work-link {
		font-size: 35px;
	}

	.add-to-slack-button {
		height: inherit;
		width: 65%;
	}

	.toki-rights {
		font-size: 22px;
	}

	#privacy-policy-url {
		font-size: 22px;
	}

	#hello-toki {
		margin-top: 50px;
		position: relative;
		height: 145px;
	}

}
