@import "modules/all";

html, body {
	height: 100%;
	margin: 0;
	font-family: $font-family-base !important;
}

#hello-toki {
	position: absolute;
	top: 0;
	left: 0;
	height: 85px;
}

#splash-logo-combined {
	height: 55px;
	position: absolute;
	top: 30px;
	left: 15px;
}

.inner.cover {
	position: relative;

	&.installed {

		text-align: left;
		width: 900px;
		padding-left: 110px;
		padding-top: 10px;

	}

}

// for mobile
@media only screen and (max-device-width: 480px) {

	.site-wrapper {

		// splash page
		.site-wrapper-inner {

			display: block;
			padding-top: 175px;

		}

		.cover-container {

			h1.cover-heading {
				font-size: 100px;
				line-height: 110px;
				text-align: left;
			}

			.lead {
				font-size: 50px;
				margin-top: 85px;
			}

			.header-link {
				font-size: 30px;
			}

			.masthead {
				top: 20px;
			}

			.cta_container {
				margin-top: 60px;
				margin-bottom: 45px;
			}

			.inner {
				padding-left: 50px;
			}

		}

	}

	#splash-logo-combined {
		height: 85px;
	}

	#slack-logo-splash {
		height: 100px;
		padding-bottom: 18px;
	}

	#how-does-it-work-link {
		font-size: 35px;
	}

	.add-to-slack-button {
		height: inherit;
		width: 65%;
	}

	.toki-rights {
		font-size: 22px;
	}

}
