@import "modules/all";
@import "modules/constants";

#logo {
	height: 75px;
}

.splash { 

	.color-gradient {
		background: 
			radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
			radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -99px;
		background-color: $electric-violet;
		background-size: 150px 199px;
	}

	.bottom-landing, .main-landing {
		display: block;
		padding: 60px 0 100px 0;

		.main-title {
			color: white;
			font-size: 50px;
			font-weight: 600;

			padding-bottom: 25px;
			border-bottom: 2.5pt solid $orange;
		}
		.main-body {
			padding: 0 15px;
			.subtitle {
				font-size: 25px;
				margin: 25px 0;
				line-height: 30px;
				color: white;
			}
			.gif {
				margin: 10px auto;
			}
		}

		border-bottom: 1px solid #e5e5e5;
		
		vertical-align: middle;
		text-align: center;
		
		form.invite {
			$form-height: 40px;
			padding: 0 10%;
			.input-container {
				text-align: left;
				.email-input {
					height: $form-height;
					padding-left: 6px;
					width: 100%;
				}
				.submit-btn {
					display: inline-block;
					background-color: white;
					border: 1pt solid lightgrey;
					text-align: center;
					height: $form-height;
					line-height: $form-height;
					padding: 0 10px;
					vertical-align: middle;
					border-radius: 6px;

					background-image: url('../images/slack_logo.png');
					background-repeat: no-repeat;
					background-position: center right 10px;
					background-size: 22px;
					padding-right: 41px;
					padding-left: 13px;

					font-weight: 600;
					width: 100%;
				}
			}
			.description {
				font-weight: inherit;
				color: white;
				font-size: 18px;
				text-align: left;
				margin: 25px 0 10px 0;
				.link-emphasize {
					color: white;
					font-style: italic;
				}
			}
			.beta {
				color: white;
				font-style: italic;
				padding-top: 5px;
				font-size: 15px;
			}
		}

	}

	.bottom-landing {
		width: 100vw;
		.subtitle {
			font-weight: 600;
		}
	}

	.header-container {
		.title {
			margin: 0;
			padding: 0 0 15px 20px;
		}
	}

	.body-container {
		.body-title {
			text-align: center;
			font-size: 25px;
			margin: 30px 0;
		}
	}

}
