$light-blue-gradient: rgba(94,160,202,0.6);
$dark-blue-gradient: rgba(8, 90, 144, 0.6);
$light-orange: rgba(255,191,110,0.6);

$electric-violet: #8F00FF;
$violet: #6C12B2;
$orange: #FFA819;
$light-green: #14CC5D;
$dark-green: #09B24C;
$blue: #3F76FF;